<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.js"></script>

    <script>
/*
        $.ajaxSetup({
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            }
        });


        username = 'szy';
        password = '234';
        $.ajax({
            type: 'post',
            url: 'http://localhost:8080/login',
            dataType: 'json',
            //dataType: 'jsonp',  //数据格式设置为jsonp
            //jsonp: 'callback',  //Jquery生成验证参数的名称
            data: {
                username: username,
                password: password
            },
            success:function(data){

                //$('.imgtable').append(item);

                //alert(username);
                //alert(password);
                alert('1');
                alert(data);

            },error:function(data){
                alert("系统错误");
                alert(XMLHttpRequest);
                alert(textStatus);
                alert(errorThrown);
            }
        });
*/
    </script>
</head>
<body>

<form action="http://127.0.0.1:8080/login" method="post">
    username:<input type="text" name="username"/><br>
    password:<input type="password" name="password"/><br>
<input type="submit" value="login">

</form>



</body>
</html>