<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>X光影像管理系统</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script> <!--  用来支持采用的ajax语法必须包含的js文件  -->
    <script type="text/javascript" src="js/html_js/imgtable.js"></script>
    <link rel="stylesheet" href="css/domain.css" type="text/css"><link/>
</head>
<ifframeset >
    <ifframe th:include="common/top::html" id="frameTop" name="frameTop"/>
    <ifframe th:include="common/left::html"  id="frameContentLeft" name="frameContentLeft" />

</ifframeset>
<script>
    $(function(){
        LoadFenye();
    });
</script>
<body>
<section id="frameContentRight">
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">日志列表</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div class="tools">

        <ul class="toolbar">
            <input type="text" id="key" />
            <input type="button" value="查询" id="chaxun" />

            <!-- <li><span><img src="images/t04.png" /></span>统计</li>  -->
        </ul>


        <!--<ul class="toolbar1">-->
            <!--<li><span><img src="images/t05.png" /></span>设置</li>-->
        <!--</ul>-->

    </div>


    <table class="imgtable">

        <thead>
        <tr>
            <th width="100px;" style="text-align:center;">序号</th>
            <th width="300px;" style="text-align:center;">操作时间</th>
            <th width="200px;" style="text-align:center;">操作者</th>
            <th width="200px;" style="text-align:center;">操作者权限</th>
            <th width="400px;" style="text-align:center;">操作描述</th>

        </tr>
        </thead>

        <tbody id="nr">
        <!--  此部分暂时保留以作对比参考
            <tr><tr><td><input name='' type='checkbox' value=''  width="30%"/></td>
            <td class="imgtd"><a href="imgtable_show.html"><img src="images/sx.jpg" /></a></td>
            <td><a href="imgtable_show.html">该工件由于XX部位破损严重</a><p>录入时间：2018-9-20 09:25:18</p></td>
            <td>X<p>ID: 82122</p></td>
            <td>工作目录1</td>
            <td>admin</td>
            <td>甲乙工件</td>
            <td>否</td>
            <td><a href="#" class="tablelink">查看</a>     <a href="#" class="tablelink"> 删除</a></td>
            </tr>
          **************************  -->
        </tbody>
        <script type="text/javascript" src="js/html_js/loglist_paging.js"></script>
    </table>


    <!--<div class="tip">-->
        <!--<div class="tiptop"><span>提示信息</span><a></a></div>-->

        <!--<div class="tipinfo">-->
            <!--<span><img src="images/ticon.png" /></span>-->
            <!--<div class="tipright">-->
                <!--<p>是否确认对信息的修改 ？</p>-->
                <!--<cite>如果是请点击确定按钮 ，否则请点取消。</cite>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="tipbtn">-->
            <!--<input name="" type="button"  class="sure" value="确定" />&nbsp;-->
            <!--<input name="" type="button"  class="cancel" value="取消" />-->
        <!--</div>-->

    <!--</div>-->




</div>




<div class="tip">
    <div class="tiptop"><span>提示信息</span><a></a></div>

    <div class="tipinfo">
        <span><img src="images/ticon.png" /></span>
        <div class="tipright">
            <p>是否确认对信息的修改 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
    </div>

    <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
    </div>

</div>

    <center>

        <div id="xinxi" >


        </div>

    </center>

<script type="text/javascript">
    $('.imgtable tbody tr:odd').addClass('odd');
</script>
</section>
</body>
<!--<script type="text/javascript" src="js/html_js/imgtable_paging.js"></script>-->
<!--<center>-->

    <!--<div id="xinxi" >-->


    <!--</div>-->

<!--</center>-->


</html>
