<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>X光影像管理系统</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/domain.css" type="text/css"><link/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/html_js/memberlist.js"></script>

</head>

<ifframeset >
    <ifframe th:include="common/top::html" id="frameTop" name="frameTop"/>
    <ifframe th:include="common/left::html"  id="frameContentLeft" name="frameContentLeft" />

</ifframeset>
<body >
<section id="frameContentRight">

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
   <!--  <li><a href="#">数据表</a></li> -->
    <li><a href="#">人员列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
            <li ><span><img src="images/t01.png" /></span><a href="/memberlistAdd">添加新管理人员</a></li>
        <!--<li class="click"><span><img src="images/t02.png" /></span>修改</li>-->
        <!--<li><span><img src="images/t03.png" /></span>删除</li>-->
       <!--  <li><span><img src="images/t04.png" /></span>统计</li> -->
        </ul>
        
        
        <ul class="toolbar1">
        <li><span><img src="images/t05.png" /></span>设置</li>
        </ul>
    
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <!--<th><input name="" type="checkbox" value="" checked="checked"/></th>-->
        <th>编号<i class="sort"><img src="images/px.gif" /></i></th>
        <th>姓名</th>
        <th>性别</th>
        <th>手机</th>
        <th>加入时间</th>
        <th>家庭住址</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <section th:each="member : ${memberList}">
        <tr>
        <!--<td><input name="" type="checkbox" value="" /></td>-->
        <td th:text="${member.getMember_number()}"></td>
        <td th:text="${member.getMember_name()}">王金平</td>
        <td th:text="${member.getMember_sex()}">男</td>
        <td th:text="${member.getMember_phone()}">17695842397</td>
        <td th:text="${member.getMember_jointime()}">2018-09-09 15:05</td>
        <td th:text="${member.getMember_address()}">天津和平区</td>
        <td ><a th:href="@{/memberlistUpdate(member_id = ${member.getMember_id()})}" class="tablelink">更改信息</a>     <a th:href="@{/memberListDelte(member_id = ${member.getMember_id()})}" onClick="return confirm('确定删除?');" class="tablelink">删除信息</a></td>
        </tr> 
        </section>

        </tbody>
    </table>
    
   

    
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</section>
</body>
</html>
