<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检 测 报 告</title>
    <style>
        divcss5{ width:400px}
        divcss5 table{background: #FFFFFF}    /* 此处设置table为黑色 000 */
        divcss5 table td{background: #FFFFFF}  /* 此处设置td为白色，综合table色彩边框即为黑色 */

        div3{border-top:1px solid #000}


    </style>


</head>
<body>
<center>
<div class="div3">
    <div class="divcss5">
<table border=1 title="测试" cellspacing="1" width="800" height="300"> <!-- cellspacing 是td间距设置-->
    <caption><font size="8">武 汉 武 船 计 量 试 验 有 限 公 司
        射 线 检 测 （拍 片） 原 始 记 录</font></caption>
    <tr>
        <td colspan="4">委托单位：&nbsp;&nbsp;&nbsp;&nbsp;</td><td colspan="8">年龄</td>

    </tr>
    <tr>
        <td colspan="4">来样编号：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">工程编号：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">工程名称：&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">结构/工件名称：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">材    质：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">日    期：&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">焊接方法：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">接头型式：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">数    量：&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="12" align="center" valign="middle">检  测  前  准  备</td>

    </tr>
    <tr>
        <td colspan="3">透照方式：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">焦点尺寸：&nbsp;&nbsp;&nbsp;&nbsp;mm</td>
        <td colspan="3">增感屏：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">像质计：&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6">射线装置型号/编号：&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
            □周向&nbsp;&nbsp;□定向训机：&nbsp;&nbsp;□正常&nbsp;&nbsp;□不正常</br>
            □设备状态正常完好</br>
            检定日期：     年     月     日</br></td>
        <td colspan="6">胶片厂家/系统：&nbsp;&nbsp;&nbsp;&nbsp;</br></br></br>
            □底片质量已按批次抽样</br>
            □灰雾度≤0.3</br></td>

    </tr>
    <tr>
        <td colspan="6">检测标准/合格级别：&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
            □标准有效</br>
            □理解并可熟练运用</br></td>
        <td colspan="6">相关作业规程及辐射防护安全制度等要求：&nbsp;&nbsp;&nbsp;&nbsp;</br></br>
            </br>
            □理解并可熟练运用</br></td>

    </tr>
    <tr>
        <td colspan="12" align="center" valign="middle">拍  片  过  程</td>

    </tr>
    <tr>
        <td rowspan="8">检测地点：</br></br>
            作业开始时间：</br>
            ：</br></br></br>
           作业结束时间：</br>
            ：</br></br>
            温度       ℃</br></br>
            湿度：      %</td>
        <td colspan="12" align="center" valign="middle">辐 射 防 护 自 查 记 录（符合要求打√）</td>
    </tr>
    <tr>
        <td colspan="1">安全环境无隐患</td>
        <td colspan="2">人员已撤出达到安全距离</td>
        <td colspan="1">电缆</td>
        <td colspan="1">警示旗、报警灯、警告标识</td>
        <td colspan="1">劳保用品穿戴</td>
        <td colspan="1">个人计量仪佩戴</td>
        <td colspan="1">通风系统</td>
        <td colspan="1">紧急停机按钮</td>
        <td colspan="1">门、机、灯联锁</td>
        <td colspan="1">视频监控系统</td>
    </tr>
    <tr>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="2">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
        <td colspan="1">&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="12" align="center" valign="middle">辐 射 定 点 监 测 记 录 值</td>
    </tr>
    <tr>
        <td colspan="2">监测点1：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">监测点2：&nbsp;&nbsp;&nbsp;&nbsp;mm</td>
        <td colspan="3">监测点3：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">监测点4：&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">监测点5：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">监测点6：&nbsp;&nbsp;&nbsp;&nbsp;mm</td>
        <td colspan="3">监测点7：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">监测点8：&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">监测点9：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">监测点10：&nbsp;&nbsp;&nbsp;&nbsp;mm</td>
        <td colspan="3">监测点11：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3">监测点12：&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="11" >监测点1~监测点4：拍片警戒区外30cm离地面高度为1M处的东南西北处；</br>
            监测点5~监测点8：拍片人员进出口处的上下左右处；</br>
            监测点9~监测点12：控制箱操作位的前后左右处。</br>
            □依据GBZ 117-2015《工业X射线探伤放射防护要求》中“关注点最高周围剂量参考控制水平不大于2.5（µSv/h）”要求，该次检测结论“合格”。 </br>
        </td>
    </tr>
    <tr>
        <td colspan="4">检测时机：&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">表面状态：&nbsp;&nbsp;&nbsp;&nbsp;mm</td>
        <td colspan="4">管电压：         Kv&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">管电流：       mA  &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="4">曝光时间：          min&nbsp;&nbsp;&nbsp;&nbsp;mm</td>
        <td colspan="4">焦  距：         mm&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td colspan="12" align="center" valign="middle"> 暗  室  处  理 （显影配方：AGFA专业配方）</td>
    </tr>
    <tr>
        <td colspan="3">显影液配置时间：</br>
            年    月     日</td>
        <td colspan="3">定影液配置时间：</br>
            年    月     日</td>
        <td colspan="3">暗室温度：       ℃</td>
        <td colspan="3">暗室湿度：      %</td>
    </tr>
    <tr>
        <td colspan="3">冲洗方式：□手动</br>
            □自动</td>
        <td colspan="3">显影时间：      min</td>
        <td colspan="3">停影时间：      min</td>
        <td colspan="3">定影时间：      min</td>
    </tr>
    <tr>
        <td colspan="3">检测员/资格：</td>
        <td colspan="3">&nbsp;&nbsp;</td>
        <td colspan="3">安全员：</td>
        <td colspan="3">&nbsp;&nbsp;</td>
    </tr>
</table>
    </div>
</div>
</center>
</body>
</html>