<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>X光影像管理系统</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/domain.css" type="text/css"><link/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script language="javascript">
        $(function(){
            //导航切换
            $(".imglist li").click(function(){
                $(".imglist li.selected").removeClass("selected")
                $(this).addClass("selected");
            })
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
    </script>
</head>
<ifframeset >
    <ifframe th:include="common/top::html" id="frameTop" name="frameTop"/>
    <ifframe th:include="common/left::html"  id="frameContentLeft" name="frameContentLeft" />

</ifframeset>

<body>
<section id="frameContentRight">
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">图片列表</a></li>
    </ul>
</div>

<div class="rightinfo">

    <div class="tools">

        <ul class="toolbar">
            <li class="click"><span><img src="images/t01.png" /></span>添加</li>
            <li class="click"><span><img src="images/t02.png" /></span>修改</li>
            <li><span><img src="images/t03.png" /></span>删除</li>
            <!-- <li><span><img src="images/t04.png" /></span>统计</li>  -->
        </ul>


        <ul class="toolbar1">
            <li><span><img src=images/t05.png" /></span>设置</li>
        </ul>

    </div>


    <table class="imgtable">

        <thead>
        <tr>
            <th>编号</th>
            <th width="400px;">缩略图</th>
            <th>影像图描述</th>

            <th>所属工作目录</th>
            <th>录入人员</th>
            <th>工件类型</th>
            <th>是否已进行AI诊断</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td>X<p>ID: 82122</p></td>
            <td class="imgtd"><a href="imgtable_show.html"><img src="images/sx.jpg" /></a></td>
            <td><a href="imgtable_show.html">该工件由于XX部位破损严重</a><p>录入时间：2018-9-20 09:25:18</p></td>

            <td>工作目录1</td>
            <td>admin</td>
            <td>甲乙工件</td>
            <td>否</td>
        </tr>

        <tr>
            <td>Y<p>ID: 82122</p></td>
            <td class="imgtd"><a href="imgtable_show.html"><img src="images/sx.jpg" /></a></td>
            <td><a href="imgtable_show.html">此工件焊接部分疏忽</a><p>录入时间：2018-9-20 09:25:18</p></td>

            <td>工作目录2</td>
            <td>宋宗垚</td>
            <td><i>甲乙工件</i></td>
            <td>是</td>
        </tr>

        <tr>
            <td>Z<p>ID: 82122</p></td>
            <td class="imgtd"><a href="imgtable_show.html"><img src="images/sx.jpg" /></a></td>
            <td><a href="imgtable_show.html">此工件严重弯曲造成</a><p>录入时间：2018-9-20 09:25:18</p></td>

            <td>工作目录3</td>
            <td>靳亚东</td>
            <td>甲工件</td>
            <td>是</td>
        </tr>

        <tr>
            <td>AA<p>ID: 82122</p></td>
            <td class="imgtd"><a href="imgtable_show.html"><img src="images/sx.jpg" /></a></td>
            <td><a href="imgtable_show.html">此工件未确定具体情况</a><p>录入时间：2018-9-20 09:25:18</p></td>

            <td>工作目录1</td>
            <td>宋宗垚</td>
            <td>乙工件</td>
            <td>否</td>
        </tr>

        <tr>
            <td>BB<p>ID: 82122</p></td>
            <td class="imgtd"><a href="imgtable_show.html"><img src="images/sx.jpg" /></a></td>
            <td><a href="imgtable_show.html">工件模糊不好区分类型</a><p>录入时间：2018-9-20 09:25:18</p></td>

            <td>工作目录2</td>
            <td>靳亚东</td>
            <td>乙工件</td>
            <td>是</td>
        </tr>

        </tbody>

    </table>






    <div class="pagin">
        <!--<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>-->
        <ul class="paginList">
            <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="javascript:;">1</a></li>

        </ul>
    </div>


    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>

        <div class="tipinfo">
            <span><img src="images/ticon.png" /></span>
            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>

    </div>




</div>

<div class="tip">
    <div class="tiptop"><span>提示信息</span><a></a></div>

    <div class="tipinfo">
        <span><img src="images/ticon.png" /></span>
        <div class="tipright">
            <p>是否确认对信息的修改 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
    </div>

    <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
    </div>

</div>

<script type="text/javascript">
    $('.imgtable tbody tr:odd').addClass('odd');
</script>

</section>
</body>

</html>
