<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:overflow="http://www.w3.org/1999/xhtml" >
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>X光影像管理系统</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/domain.css" type="text/css"><link/>
    <!--<script type="text/javascript" src="js/jquery.js"></script>-->
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script> <!--  用来支持采用的ajax语法必须包含的js文件  -->
    <script type="text/javascript" src="js/jquery-form.js"></script>
    <link href="bootstrap/v3/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--<script type="text/javascript" src="js/html_js/imgtable_show.js"></script>-->
    <!--<script type="text/javascript" src="js/html_js/image_processing.js"></script>-->
    <script type="text/javascript" src="js/d3.v4.min.js"></script>

    <style type="text/css">
        body{
            font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
            font-size:15px;
        }

        p, h1, form, button{border:0; margin:0; padding:0;}
        .spacer{clear:both; height:1px;}
        /* ———– My Form ———– */
        .myform{
            margin:0 auto;
            width:300px;
            padding:14px;
        }

        /* ———– stylized ———– */
        #stylized{
            border:solid 2px #b7ddf2;
            background:#ebf4fb;
        }

        #stylized h1 {
            font-size:16px;
            font-weight:bold;
            margin-bottom:8px;
        }

        #stylized p{
            font-size:12px;
            color:#666666;
            margin-bottom:20px;
            border-bottom:solid 1px #b7ddf2;
            padding-bottom:10px;
        }

        #stylized label{
            display:block;
            font-weight:bold;
            text-align:right;
            width:80px;
            float:left;
        }



        #stylized input{
            float:left;
            font-size:15px;
            padding:4px 2px;
            border:solid 1px #aacfe4;
            width:100px;
            margin:2px 0 20px 10px;
        }

        #stylized option{
            float:left;
            font-size:15px;
            padding:4px 2px;
            border:solid 1px #aacfe4;
            width:100px;
            margin:2px 0 20px 10px;
        }

        #stylized select{
            float:left;
            font-size:15px;
            padding:4px 2px;
            border:solid 1px #aacfe4;
            width:100px;
            margin:2px 0 20px 10px;
        }



        #stylized .sub{
            /*clear:both;*/
            /*margin-left:150px;*/
            width:40px;
            height:30px;
            line-height:20px;
            border:1px solid #8b9c56;
            /*// background:url("../images/bt_bg.gif") 0px -64px;*/
            /*text-align:center;*/
            color:#336600;
            font-size:9px;
            font-weight:bold;
            cursor:pointer;
        }

        .red{
            color:#ff0000;
        }
        .blue{
            color:#0000FF;
        }
    </style>
    <script th:inline="javascript">
            var tempPicturePath = [[${picture.picture_transpath}]]; //获取转化格式后的jpg图片路径
          //  alert(tempPicturePath);
            var i = tempPicturePath.lastIndexOf('\\');
            console.log(i);
            console.log(tempPicturePath.slice(i+1));
            var tempPicturePath = tempPicturePath.slice(i+1);
          // alert(tempPicturePath);

        window.onload = function () {//算法参考https://www.jb51.net/article/123995.htm

            var canvas = document.getElementById("canvas");//获取canvas画布对象
            context = canvas.getContext('2d');//获取2D上下文对象，大多数Canvas API均为此对象方法
            var image = new Image();//定义一个图片对象EOPR20190311110457A3K9.jpg
            image.src = "convertImages/"+tempPicturePath;
           // image.src = "convertImages/EOPR20190311110457A3K9.jpg";
           // alert(image.src);
            image.width= 1400;
            image.height=400;

            image.onload = function () { //此处必须注意！后面所有操作均需在图片加载成功后执行，否则图片将处理无效
                context.drawImage(image,0,0,image.width,image.height);//将图片从Canvas画布的左上角(0,0)位置开始绘制，大小默认为图片实际大小\

                var imageData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象
                var ImageObject = new Array();
                var ForwardImageObject = new Array();
                ImageObject.push(imageData);


                var SvgConvertData = new Array();
                var zongxiangData = new Array();
                zongxiangData.push(2);
                var hengxiangData = new Array();
                hengxiangData.push(2);

                var fanZhuanData1 = new Array();
                var fanZhuanData2 = new Array();
                fanZhuanData1.push(1);
                fanZhuanData2.push(1);


                var fanse = document.getElementById("fanse");
                fanse.onclick = function(){ // 单击“处理图片”按钮，处理图片

                    var imageData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象
                    var imageData_length = imageData.data.length / 4;
                    // 解析之后进行算法运算
                    for (var i = 0; i < imageData_length; i++) {
                        imageData.data[i * 4] = 255 - imageData.data[i * 4];
                        imageData.data[i * 4 + 1] = 255 - imageData.data[i * 4 + 1];
                        imageData.data[i * 4 + 2] = 255 - imageData.data[i * 4 + 2];
                    }
                    context.putImageData(imageData, 0, 0);
                    ImageObject.push(imageData);

                    SvgConvertData.push(2);

                };

                var brightness = document.getElementById("brightness");
                brightness.onclick = function () {
                    var adjust = brightness.value;
                    var oDiv = document.getElementById("div_brightness");
                    oDiv.innerHTML = adjust;
                    //var adjust = 10;
                    adjust = Math.floor(255 * (adjust / 100));
                    var imageData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象
                    var imageData_length = imageData.data.length / 4;
                    // 解析之后进行算法运算
                    for (var i = 0; i < imageData_length; i++) {
                        imageData.data[i * 4] += adjust;
                        imageData.data[i * 4 + 1] += adjust;
                        imageData.data[i * 4 + 2] += adjust;
                    }
                    context.putImageData(imageData, 0, 0);
                    ImageObject.push(imageData);

                };


                var returnStep = document.getElementById("returnStep");
                returnStep.onclick = function(){ // 单击“处理图片”按钮，处理图片

                    var DelImageData = ImageObject.pop();
                    var ImageObjectLength = ImageObject.length;
                    var fanzhuan1Length = fanZhuanData1.length;
                    var fanzhuan2Length = fanZhuanData2.length;

                    var DelSvgData1 = fanZhuanData1.pop();
                    var DelSvgData2 = fanZhuanData2.pop();
                    if(ImageObjectLength == 0){

                        ImageObject.push(DelImageData);
                        fanZhuanData1.push(1);
                        fanZhuanData2.push(1);

                    }else{

                        var TempImageDate = ImageObject.pop();
                        context.putImageData(TempImageDate, 0, 0);
                        ImageObject.push(TempImageDate);


                        var svg = d3.select("svg");

                        var fanzhuan1 = fanZhuanData1.pop();
                        var fanzhuan2 = fanZhuanData2.pop();
                        var fanzhuan = 'scale('+fanzhuan1+','+fanzhuan2+')';
                        svg.attr('transform', fanzhuan);//svg沿x轴翻转


                    }

                };


                var imageHRevert = document.getElementById("imageHRevert");
                imageHRevert.onclick = function () {

                    var imageData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象
                    // 解析之后进行算法运算
                    var newData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象;

                    for(var i=0,h=imageData.height;i<h;i++){
                        for(j=0,w=imageData.width;j<w;j++){

                            newData.data[i*w*4+j*4+0] = imageData.data[i*w*4+(w-j)*4+0];
                            newData.data[i*w*4+j*4+1] = imageData.data[i*w*4+(w-j)*4+1];
                            newData.data[i*w*4+j*4+2] = imageData.data[i*w*4+(w-j)*4+2];
                            newData.data[i*w*4+j*4+3] = imageData.data[i*w*4+(w-j)*4+3];
                        }}
                    context.putImageData(newData, 0, 0);
                    ImageObject.push(imageData);




                    var svg = d3.select("svg");

                    var fanzhuan1 = fanZhuanData1.pop();
                    var fanzhuan2 = fanZhuanData2.pop();
                    // var fanzhuan2 = -1;
                    fanZhuanData1.push(fanzhuan1);
                    fanZhuanData2.push(fanzhuan2);
                  //  alert(fanzhuan1+'diyige');
                    if(fanzhuan1 == 1){
                        fanzhuan1 = -1;

                    }else {
                        fanzhuan1 = 1;
                    }

                    var fanzhuan = 'scale('+fanzhuan1+','+fanzhuan2+')';
                    svg.attr('transform', fanzhuan);//svg沿y轴翻转
                    fanZhuanData1.push(fanzhuan1);
                    fanZhuanData2.push(fanzhuan2);


                };

                var imageVRevert = document.getElementById("imageVRevert");
                imageVRevert.onclick = function () {

                    var imageData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象
                    // 解析之后进行算法运算
                    var newData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象;

                    for(var i=0,h=imageData.height;i<h;i++){
                        for(j=0,w=imageData.width;j<w;j++){

                            newData.data[i*w*4+j*4+0] = imageData.data[(h-i)*w*4+j*4+0];
                            newData.data[i*w*4+j*4+1] = imageData.data[(h-i)*w*4+j*4+1];
                            newData.data[i*w*4+j*4+2] = imageData.data[(h-i)*w*4+j*4+2];
                            newData.data[i*w*4+j*4+3] = imageData.data[(h-i)*w*4+j*4+3];

                        }}
                    context.putImageData(newData, 0, 0);
                    ImageObject.push(imageData);


                    var svg = d3.select("svg");

                    var fanzhuan1 = fanZhuanData1.pop();
                    var fanzhuan2 = fanZhuanData2.pop();
                   // var fanzhuan2 = -1;
                    fanZhuanData1.push(fanzhuan1);
                    fanZhuanData2.push(fanzhuan2);
                    if(fanzhuan2 == 1){
                        fanzhuan2 = -1;

                    } else {
                        fanzhuan2 = 1;
                    }
                 //   fanzhuan2 = 1;
                  //  alert(fanzhuan2);

                    var fanzhuan = 'scale('+fanzhuan1+','+fanzhuan2+')';
                    svg.attr('transform', fanzhuan);//svg沿x轴翻转
                    fanZhuanData1.push(fanzhuan1);
                    fanZhuanData2.push(fanzhuan2);



                };


                var contrast = document.getElementById("contrast");
                contrast.onclick = function () {
                    //var adjust = 10;
                    var adjust = contrast.value;
                    var oDiv = document.getElementById("div_contrast");
                    oDiv.innerHTML = adjust;
                    adjust = (adjust/100) + 1;
                    var imageData = context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象 https://stackoverflow.com/questions/10521978/html5-canvas-image-contrast
                    var newData =  context.getImageData(0, 0, canvas.width, canvas.height); //获取图片数据对象
                    var imageData_length = imageData.data.length /4;
                    // 解析之后进行算法运算
                    var intercept = 128 * (1 - adjust);
                    for (var i = 0; i < imageData_length; i++) {

                        imageData.data[i * 4] = (imageData.data[i * 4])*adjust + intercept;
                        imageData.data[i * 4 + 1] = (imageData.data[i * 4 + 1])*adjust + intercept;
                        imageData.data[i * 4 + 2] = (imageData.data[i * 4 + 2])*adjust + intercept;

                    }
                    context.putImageData(imageData, 0, 0);
                    ImageObject.push(imageData);


                };

            }

        }




    </script>

    <script language="javascript">
        function MsgBox(id,permission) //声明标识符
        {
            if(confirm("确定要完成影像图审批吗")){
                window.location.href="requisitionImgtableShowUpdate?permission="+permission+"&id="+id;
            }; //弹出对话框
        }


    </script>

    <style>
        table,table tr th, table tr td { border:1px solid #000000; font-size:22px;}
        table { width: 200px; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}

        /*$("td").hover(*/
        /*function () {*/
            /*$(this).addClass("hover");*/
        /*},*/
        /*function () {*/
            /*$(this).removeClass("hover");*/
        /*}*/
        /*);*/

        rect {
            cursor: move;
            /*//stroke: blue;*/
            fill:rgb(0,0,0);
            /*fill-rule: nonzero;*/
            fill-opacity: 0;

            /*hover:url(javascript:alert("1111"));*/

        }
        rect.moving {
            stroke: blue
        }



    </style>


</head>
<ifframeset >
    <ifframe th:include="common/top::html" id="frameTop" name="frameTop"/>
    <ifframe th:include="common/left::html"  id="frameContentLeft" name="frameContentLeft" />
</ifframeset>

<body id="ControlBody">
<section id="frameContentRight">
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
    </ul>
</div>

<!--<div class="mainindex">-->
    <!--<input type="button" value="开始搜索" style='font-size:20px' class="bb"><input type="text" class="aa"-->
                                                                               <!--style="border:1px solid gray;height:20px;width:200px"-->
                                                                               <!--placeholder="请在此输入影像图相关信息">-->
    <center >
        <!--<input style="text-align: center;">-->
        <p style="font-size:25px">X光影像图信息管理</p></br>
        <!--<div id="canvasAndSvg">-->
        <div id="canvasDiv" class="canvas"> <canvas style="position: absolute;left: 120px;top: 88px;border: thin solid #aaaaaa;" id="canvas" width="1400" height="400"  ></canvas></div>
        <!--<div id="svgDiv1">-->
            <!--<svg style="display:none;position: absolute;left: 120px;top: 88px;z-index: 1;"  id = "drawRectangleList"version="1.1" baseProfile="full" width="1400" height="400" xmlns="http://www.w3.org/2000/svg">-->
            <!--</svg>-->
        <!--</div>-->
        <div id="svgDiv">
            <svg style="position: absolute;left: 120px;top: 88px;z-index: 2;"  id = "drawRectangleList"version="1.1" baseProfile="full" width="1400" height="400" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </div>

        </div>

        <script type="text/javascript">
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            //绘制
            ctx.fillStyle = "#ffffff";
            ctx.strokeStyle = "#000000";
            ctx.lineWidth = 1;
            // ctx.rect(0, 0, 1400, 400);
            ctx.fill();//填充
            ctx.stroke();//绘制边框
        </script>


        </br></br></br></br></br></br></br>
<section id="ImgUtils" >
        <div style="display:block;margin: 20px " >
            <div id="stylized" class="myform">
                <form id="mysubform"  name="mysubform" method="post"  action="/RectangleDamageSave" onsubmit="return saveReport();">

                    <label>损伤类型:</label>
                    <select type="text" name="damagetype_id" id="damagetype_id"  />
                    <option value="0" ></option>
                    <option value="1" >圆形缺陷</option>
                    <option value="2" >条形缺陷</option>
                    <option value="3" >未焊透</option>
                    <option value="4" >未熔合</option>
                    <option value="5" >裂纹</option>
                    </select>
                    <!--<label>矩形框id测试:</label>   style="display:none"-->
                    <input id="rect_id" name="rect_id" style="display:none"/>
                    <input id="x1" name="x1" style="display:none"/>
                    <input id="y1" name="y1" style="display:none"/>
                    <input id="x2" name="x2" style="display:none"/>
                    <input id="y2" name="y2" style="display:none"/>
                    <input id="picture_id" name="picture_id" style="display:none"th:value="${picture.getPicture_id()}"/>
                    <input id="retangle_author" name="retangle_author" style="display:none"/>
                    <input id="retanglesubmit" name="retanglesubmit"class="sub" type="submit" value="确定"/>
                    <div class="spacer"></div>
                </form>
            </div>
        <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
        <input type="range" min="-30" max="30" value="70" id="brightness" size="500" height="100pixels" name="亮度调节" style="display:inline-block;;">亮度调节</input>
        <div id="div_brightness" style="display:inline-block;"></div>
        <input type="range" min="-30" max="30" value="70" id="contrast" style="display:inline-block;">对比度调节</input>
        <div id="div_contrast" style="display:inline-block;"></div>
        </div><button type="button"  class="btn btn-info" id="upPaper" onclick="upPage();">上一张</button>
        <button type="button" class="btn btn-info" id="fanse">图片反色</button>
        <button type="button" class="btn btn-info" id="imageVRevert">竖向翻转</button>
        <button type="button" class="btn btn-info" id="imageHRevert">横向翻转</button>
        <button type="button" class="btn btn-info" id="StartDraw" onclick="controlStartDraw();">开始标记</button>
        <button type="button" class="btn btn-info" id="OverDraw" onclick="controlOverDraw();"style="display: none">结束标记</button>
        <!--<button type="button" class="btn btn-info" id="saveRectangle">保存标记矩形框</button>-->
        <button type="button" class="btn btn-info" id="lookOrginalPicture" onclick="lookOrginalPicture();">查看原图</button>
        <button type="button" class="btn btn-info" id="returnStep">撤销</button>
        <!--<button type="button" class="btn btn-info" id="ForwardStep">前进</button>-->
        <button type="button" class="btn btn-info" id="AIprocess">进行AI诊断</button>
        <button type="button" class="btn btn-info" id="ControlAIprocess" >显示/隐藏AI诊断结果</button>
    </div><button type="button" class="btn btn-info" id="nextPaper" onclick="nextPage();">下一张</button>
</section>
    </center>
</div>
<br>
<section id="ImgInfo">
<center>
    <table class="tablelist" >   <!--border="2"-->
<thead>
        <tr>
            <td colspan="8">X光影像图信息概况</td>
        </tr>
        <tr>
            <td colspan="1">焊缝编号</td>
            <td colspan="1">厚度</td>
            <td colspan="1">焊接方法</td>
            <td colspan="1">检测标准</td>
            <td colspan="2">合格级别</td>
            <td colspan="2">备注信息</td>
        </tr>
</thead>
        <tr>
            <td colspan="1" th:text="${picture.getPicture_number()}"></td>
            <td colspan="1" th:text="${picture.getPicture_thickness()}"></td>
            <td colspan="1" th:text="${picture.getPicture_teststandard()}"></td>
            <td colspan="1" th:text="${picture.getPicture_qualifylevel()}"></td>
            <td colspan="2" th:text="${picture.getPicture_ps()}"></td>
            <td colspan="2"></td>
        </tr>

    </table><br>
    <!--<br><br><br><br><br><br>th:if="${picture.getPicture_requisition_id() == requisition.getRequisition_id()}"-->

    <button type="button" class="btn btn-info" id=""  sec:authorize="hasRole('ROLE_fisrtexam')" th:if="${(picture.getPicture_firstexamresult()=='×')||(picture.getPicture_firstexamresult().isEmpty())}" th:onclick="|javascript:MsgBox(${picture.getPicture_id()},1)|">完成审批</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-info" id="" sec:authorize="hasRole('ROLE_secondexam')" th:if="${(picture.getPicture_secondexamresult()=='×')||(picture.getPicture_secondexamresult().isEmpty())}" th:onclick="|javascript:MsgBox(${picture.getPicture_id()},2)|">完成审批</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-info" id=""  sec:authorize="hasRole('ROLE_thirdexam')" th:if="${(picture.getPicture_thirdexamresult()=='×')||(picture.getPicture_thirdexamresult().isEmpty())}" th:onclick="|javascript:MsgBox(${picture.getPicture_id()},3)|">完成审批</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-info" id=""  sec:authorize="hasRole('ROLE_fisrtexam')" th:if="${(picture.getPicture_firstexamresult()!='×')&&(picture.getPicture_firstexamresult().length()!=0)}" th:onclick="|javascript:MsgBox(${picture.getPicture_id()},4)|">取消审批</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-info" id="" sec:authorize="hasRole('ROLE_secondexam')" th:if="${(picture.getPicture_secondexamresult()!='×')&&(picture.getPicture_secondexamresult().length()!=0)}" th:onclick="|javascript:MsgBox(${picture.getPicture_id()},5)|">取消审批</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-info" id=""  sec:authorize="hasRole('ROLE_thirdexam')" th:if="${(picture.getPicture_thirdexamresult()!='×')&&(picture.getPicture_thirdexamresult().length()!=0)}" th:onclick="|javascript:MsgBox(${picture.getPicture_id()},6)|">取消审批</button>&nbsp;&nbsp;&nbsp;


    <!--<a  href="http://www.baidu.com" class="btn btn-info" onClick="return confirm('确定删除?');">[删除]</a>-->
</center>




</div>


<br>
</section>

<script type="text/javascript" src="js/jcanvas/dist/min/jcanvas.min.js" ></script>
<script th:inline = "javascript">
    /**
     * 获取当前影像图id后根据点击的按钮跳转前往对应的后端接口
     * @type {*[]}
     */
    picture_id = [[${picture.picture_id}]];
    //alert(picture_id);

    function upPage() {
        window.location.href="upPagePicture?picture_id="+picture_id;
    }
    function nextPage() {
        window.location.href="nextPagePicture?picture_id="+picture_id;
    }

    function lookOrginalPicture() {
        window.location.href="originalPicture?id="+picture_id;
    }

    var retanglewidth = 0;
    var retangleheight = 0;
    var saveUpdateRectId = 0;
    var saveRectIdArray = new Array();
    var saveAIRectIdArray = new Array();

    var damagetype_id = document.getElementById('damagetype_id');
    function updateSubmitInfo(rect_id,x1,x2,y1,y2,retangle_author,retangle_damage_type) {
        $('#rect_id').val(rect_id);
        $('#x1').val(parseInt(x1));
        $('#x2').val(parseInt(x2));
        $('#y1').val(parseInt(y1));
        $('#y2').val(parseInt(y2));
        $('#retangle_author').val(retangle_author);

        damagetype_id[retangle_damage_type].selected = true;//选中
    }


    var controlAi = new Array();//动态控制显示ai探伤结果
    var ControlAIprocess = document.getElementById("ControlAIprocess");

    ControlAIprocess.onclick = function () {
        var tempsvgDOM = document.getElementById("drawRectangleList");
        var Controlrects = tempsvgDOM.getElementsByTagName("rect");

        // if(saveRectIdArray.length == 1){  //根据存储是否有值来觉得是否显示对应颜色的rect方框
        //     tempid = saveRectIdArray.pop();
        //     document.getElementById(tempid).setAttribute("stroke","red");
        // }
        if(saveAIRectIdArray.length == 1){//根据存储是否有值来觉得是否显示对应颜色的rect方框
            tempid = saveAIRectIdArray.pop();
            document.getElementById(tempid).setAttribute("stroke","yellow");
        }


        if(controlAi.length<1) {  //根据数组存储内容判断是否展开/隐藏AI检测方框
            controlAi.push(1);

                for (j = 0; j < Controlrects.length; j++) {
                    var temp = new Array();

                    temp[0] = Controlrects[j].getAttribute("id");
                    temp[1] = Controlrects[j].getAttribute("stroke");

                    if (temp[1] == 'yellow') {
                        // temp[4]='Algorithm';
                        var tempobj = document.getElementById(temp[0]);
                        tempobj.setAttribute('style', 'display:none');
                    }


                }

        }else {
            controlAi.pop();
            for (j = 0; j < Controlrects.length; j++) {
                var temp = new Array();

                temp[0] = Controlrects[j].getAttribute("id");
                temp[1] = Controlrects[j].getAttribute("stroke");

                if (temp[1] == 'yellow') {
                    // temp[4]='Algorithm';
                    var tempobj = document.getElementById(temp[0]);
                    tempobj.setAttribute('style', '');
                }


            }

        }



    }








    var AIprocess = document.getElementById("AIprocess");
    var tempicture = [[${picture}]];

    AIresult = tempicture.picture_AIresult;
    AIprocess.onclick = function () {
        //alert('这里是内部');
        if(AIresult == 0){
            if(confirm("开始进行AI检测")){
                //window.location.href="AIprocess?id="+tempicture.picture_id;
                $.ajax({
                    url: '/detectionById_backstage',
                    //url: 'http://192.168.31.143:8888//fakedata',
                    type: 'post',
                   // type: 'get',
                    data: {
                        'id':tempicture.picture_id
                    },
                    traditional:true,//用传统方式序列化数据

                })
                    .success(function(data) {
                        alert("保存选择框成功");
                    })
                //     .error(function() {
                //     alert("提交失败");
                // });

                //location.reload();
            };

            setInterval(test, 4000);

        }
        if(AIresult == 1){
            alert("正在进行AI检测，请稍后");
        }
        if(AIresult == 2){
            alert("显示检测结果");
           // location.reload();
        }

    }

    function test(){
       //alert("正在执行AI检测，请稍后")
        location.reload();
    }



    var svg = d3.select("svg");        //选取svg标签
    function loadRect(x1,y1,w,h,retangle_id,retangle_author,retangle_damage_type) {//处理人工绘制得到的矩形框的显示
        rect = svg.append("rect")       //通过取出的rect信息，根据svg标签一一显示在前端页面
            .attr("x", x1)
            .attr("y", y1)
            .attr("id", parseInt(x1)+"a"+parseInt(y1)+"b"+parseInt(w)+"a"+parseInt(h)+"b")
            .attr("fill", "none")
            .attr("stroke", "red")
            .attr("stroke-width", 1)
            .attr("width", w)
            .attr("height", h)

            .on("dblclick",function(){
                var message = confirm("是否要删除此框：x="+x1+",y="+y1+"?");
                document.getElementById(parseInt(x1)+"a"+parseInt(y1)+"b"+parseInt(w)+"a"+parseInt(h)+"b").setAttribute("stroke","black");
                //alert(document.getElementById(parseInt(x1)+"a"+parseInt(y1)+"b"+parseInt(w)+"a"+parseInt(h)+"b").setAttribute("stroke","black"));
                if(message == true){

                    $('#'+parseInt(x1)+"a"+parseInt(y1)+"b"+parseInt(w)+"a"+parseInt(h)+"b").remove();

                }
                document.getElementById(parseInt(x1)+"a"+parseInt(y1)+"b"+parseInt(w)+"a"+parseInt(h)+"b").setAttribute("stroke","red");
                return false;
            })
            .on("click",function(){
                    document.getElementById(parseInt(x1)+"a"+parseInt(y1)+"b"+parseInt(w)+"a"+parseInt(h)+"b").setAttribute("stroke","black");
                    saveUpdateRectId = parseInt(x1)+"a"+parseInt(y1)+"b"+parseInt(w)+"a"+parseInt(h)+"b";

                    if(saveRectIdArray.length == 1){  //根据存储是否有值来觉得是否显示对应颜色的rect方框
                        tempid = saveRectIdArray.pop();
                        document.getElementById(tempid).setAttribute("stroke","red");
                    }
                    if(saveAIRectIdArray.length == 1){//根据存储是否有值来觉得是否显示对应颜色的rect方框
                        tempid = saveAIRectIdArray.pop();
                        document.getElementById(tempid).setAttribute("stroke","yellow");
                    }
                    saveRectIdArray.push(saveUpdateRectId);

                    updateSubmitInfo(retangle_id,x1,w+x1,y1,h+y1,retangle_author,retangle_damage_type);//调用填充表单函数

                return false;
                });
    }

    function loadAIRect(x1,y1,w,h,retangle_id,retangle_author,retangle_damage_type) {  //处理算法得到的矩形框的显示
        rect = svg.append("rect")               //通过取出的rect信息，根据svg标签一一显示在前端页面
            .attr("x", x1)
            .attr("y", y1)
            .attr("id", parseInt(x1)+"aa"+parseInt(y1)+"bb"+parseInt(w)+"aa"+parseInt(h)+"bb")
            .attr("fill", "none")
            .attr("stroke", "yellow")
            .attr("stroke-width", 1)
            .attr("width", w)
            .attr("height", h)

            .on("dblclick",function(){
                var message = confirm("是否要删除此框：x="+x1+",y="+y1+"?");
                document.getElementById(parseInt(x1)+"aa"+parseInt(y1)+"bb"+parseInt(w)+"aa"+parseInt(h)+"bb").setAttribute("stroke","black");
                if(message == true){

                    $('#'+parseInt(x1)+"aa"+parseInt(y1)+"bb"+parseInt(w)+"aa"+parseInt(h)+"bb").remove();

                }
                document.getElementById(parseInt(x1)+"aa"+parseInt(y1)+"bb"+parseInt(w)+"aa"+parseInt(h)+"bb").setAttribute("stroke","yellow");
                return false;
            })
            .on("click",function(){
                document.getElementById(parseInt(x1)+"aa"+parseInt(y1)+"bb"+parseInt(w)+"aa"+parseInt(h)+"bb").setAttribute("stroke","black");
                saveUpdateRectId = parseInt(x1)+"aa"+parseInt(y1)+"bb"+parseInt(w)+"aa"+parseInt(h)+"bb";

                if(saveAIRectIdArray.length == 1){
                    tempid = saveAIRectIdArray.pop();
                    document.getElementById(tempid).setAttribute("stroke","yellow");
                }
                if(saveRectIdArray.length == 1){
                    tempid = saveRectIdArray.pop();
                    document.getElementById(tempid).setAttribute("stroke","red");
                }
                saveAIRectIdArray.push(saveUpdateRectId);

                updateSubmitInfo(retangle_id,x1,w+x1,y1,h+y1,retangle_author,retangle_damage_type);//调用填充表单函数

                return false;
            });
    }

    function saveReport() { // jquery 表单提交
       // alert("ssss");
        $("#mysubform").ajaxSubmit(function(message) {
            // 对于表单提交成功后处理，message为提交页面saveReport.htm的返回内容
            alert("保存成功");
            location.reload();

        });
        return false; // 必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
    }

    var retangle = [[${retangleList}]];  //根据影像图编号获取所有矩形框信息
    var picture_width = [[${picture.picture_width}]];
    var picture_height = [[${picture.picture_height}]];



    for ( i = 0; i < retangle.length; i++){   //循环遍历取出方框所有信息



        var x1 = retangle[i].retangle_x1;
        var y1 = retangle[i].retangle_y1;
        var x2 = retangle[i].retangle_x2;
        var y2 = retangle[i].retangle_y2;
        var retangle_id = retangle[i].retangle_id;
        var retangle_author = retangle[i].retangle_author;
        var retangle_damage_type = retangle[i].retangle_damage_type;
        x1 = x1*1400.0/picture_width;
        y1 = y1*400.0/picture_height;
        x2 = x2*1400.0/picture_width;
        y2 = y2*400.0/picture_height;

        var rectangle_width = x2 - x1;
        var rectangle_height = y2 - y1;


//alert(retangle_damage_type);
if(retangle_author=='Algorithm'){     //判断rect矩形框author来调用不同的页面显示方框
    loadAIRect(x1,y1,rectangle_width,rectangle_height,retangle_id,retangle_author,retangle_damage_type);
}else {
    loadRect(x1, y1, rectangle_width, rectangle_height,retangle_id,retangle_author,retangle_damage_type);
}


    }




    function RectData(x1,y1,x2,y2,retangle_author) {   //初始化方框对象
        this.x1 = x1;
        this.x2 = x2;
        this.y1 = y1;
        this.y2 = y2;
        this.retangle_author = retangle_author;

    }

     function ss(rectangleArry,picture_id) {  //通过ajax存储当前页面所有方框
        // alert(rectangleArry);
        // alert(picture_id);
         alert(JSON.stringify(rectangleArry));
         $.ajax({
             url: '/getRectangleArray',
             type: 'get',
             data: {
                 'rectangleJSON':JSON.stringify(rectangleArry),
                 'picture_id':picture_id
             },
             traditional:true,//用传统方式序列化数据

         })
            .success(function(data) {
            alert("保存选择框成功");
        }).error(function() {
            alert("提交失败");
        });
    };

    var saveRectangleBtn = document.getElementById("saveRectangle");

    saveRectangleBtn.onclick = function(){ // 单击“处理图片”按钮，处理图片

        var svgDOM = document.getElementById("drawRectangleList");
        var rects = svgDOM.getElementsByTagName("rect");
        var rectangleArray = new Array();

        var blackRectJudge = 0;
        for(j = 0; j < rects.length; j++) {
            var temp = new Array();
            temp[4]=rects[j].getAttribute("stroke") ;
            if(temp[4]=='black'){
                blackRectJudge = 1;
            }
        }

        if(blackRectJudge == 0){


        for(j = 0; j < rects.length; j++) {
            var temp = new Array();

             temp[0]=parseInt(rects[j].getAttribute("x"));
             temp[1]=parseInt(rects[j].getAttribute("y"));
             temp[2]=parseInt(rects[j].getAttribute("width")) + temp[0];
             temp[3]=parseInt(rects[j].getAttribute("height")) + temp[1];
             temp[4]=rects[j].getAttribute("stroke") ;
           if(temp[4]=='red'){
               temp[4]='member';
               var obj = new RectData(temp[0],temp[1],temp[2],temp[3],temp[4]);
               rectangleArray[j]=obj;
           }
            if(temp[4]=='yellow'){
                temp[4]='Algorithm';
                var obj = new RectData(temp[0],temp[1],temp[2],temp[3],temp[4]);
                rectangleArray[j]=obj;
            }


        }


            var picture_id = [[${picture.picture_id}]]; //取出当前页面picture_id
            ss(rectangleArray,picture_id);              //调用ajax存储当前页面所有方框


        }else{

           alert("存在黑色方框，请在只有黄色与红色方框状态下存储");

        }



    }



</script>

    <script type="text/javascript">
        //想获取鼠标在浏览器中的当前坐标，并要求鼠标静止时也能通过此事件获取到坐标，于是打算通过处理mousemove事件实现，但通过测试，发现在IE、Chrome下鼠标静止时能触发mousemove，而firefox在鼠标静止时却不会触发mousemove。
     var m  = new Array();
     m[0] = 0;
     m[1] = 0;

        /**添加函数事件可参考
         * https://blog.csdn.net/u014291497/article/details/52235655?utm_source=blogxgwz3
         * http://www.w3school.com.cn/tiy/t.asp?f=jquery_event_mouseover_mouseout
         */
        $(document).ready(function(){
            $("rect").mouseover(function(){
                controlOverDraw();
            });
            $("rect").mouseout(function(){
                controlStartDraw();
            });
        });
        /**
         * 通过按钮控制是否使用svg标签内的mousedown函数，controlOverDraw关闭，
         * controlStartDraw激活
         */
        function controlOverDraw() {

            var svg = d3.select("svg")                   //  参考内容https://gist.github.com/romsson/568e166d702b4a464347
                .on("mousedown", null);

           // window.location.reload();
        }

        function controlStartDraw() {

            var svg = d3.select("svg")                   //  参考内容https://gist.github.com/romsson/568e166d702b4a464347
                .on("mousedown", mousedown)
            //  .on("mouseup", mouseup);


            function mousedown() {

                var m = d3.mouse(this);
                //alert("fuyuansu");
                rect = svg.append("rect")
                    .attr("x", m[0])
                    .attr("y", m[1])
                    // .attr("id", m[0]+"a"+m[1]+"b")
                    .attr("fill", "none")
                    .attr("stroke", "red")
                    .attr("stroke-width", 1)
                    .attr("height", 0)
                    .attr("width", 0)
                //         // .attr("cursor","move")
                ;

                //
                svg.on("mousemove", mousemove);

                window.event.cancelBubble = true;

                return false;
            }

            /**
             * 鼠标移动时方框根据移动位置画框，初始位置为mousedown点击处
             * @param d
             * @returns {boolean}
             */
            function mousemove(d) {
                var m = d3.mouse(this);

                rect.attr("width", Math.max(0, m[0] - +rect.attr("x")))
                    .attr("height", Math.max(0, m[1] - +rect.attr("y")))


                retanglewidth = Math.max(0, m[0] - +rect.attr("x"));
                retangleheight = Math.max(0, m[1] - +rect.attr("y"));

                svg.on("mouseup", mouseup);

                return false;
            }

            /**
             * 鼠标抬起后结束画框，并赋予方框鼠标点击事件
             * @returns {boolean}
             */
            function mouseup() {
                if (rect.attr("height") * rect.attr("height") < 30) {
                    rect.remove();
                }

                var m = d3.mouse(this);

                rect.attr("id", m[0] + "a" + m[1] + "b")
                    .on("dblclick", function () {
                        //alert(m[0] + "a" + m[1] + "b");

                        document.getElementById(m[0] + "a" + m[1] + "b").setAttribute("stroke", "black");
                        var message = confirm("是否要删除此框：x=" + m[0] + ",y=" + m[1] + "?");
                        // d3.select('#'+m[0]+"a"+m[1]+"b").remove();
                        if (message == true) {
                            $('#' + m[0] + "a" + m[1] + "b").remove();

                        }
                        document.getElementById(m[0] + "a" + m[1] + "b").setAttribute("stroke", "red");

                        return false;
                    })
                    .on("click", function () {
                       // alert("111111111");


                        document.getElementById(m[0] + "a" + m[1] + "b").setAttribute("stroke", "black");
                        saveUpdateRectId = m[0] + "a" + m[1] + "b";

                        if (saveRectIdArray.length == 1) {
                            tempid = saveRectIdArray.pop();
                            document.getElementById(tempid).setAttribute("stroke", "red");
                        }
                        if (saveAIRectIdArray.length == 1) {
                            tempid = saveAIRectIdArray.pop();
                            document.getElementById(tempid).setAttribute("stroke", "yellow");
                        }

                        saveRectIdArray.push(saveUpdateRectId);


                        $('#rect_id').val("");
                        $('#x1').val("");
                        $('#x2').val("");
                        $('#y1').val("");
                        $('#y2').val("");
                        $('#retangle_author').val("");
                        damagetype_id[0].selected = true;//选中

                        return false;
                    });


                svg.on("mousemove", null);

                $(document).ready(function(){
                    $("rect").mouseover(function(){
                        controlOverDraw();
                    });
                    $("rect").mouseout(function(){
                        controlStartDraw();
                    });
                });

                return false;
            }


        }
    </script>
</section>
</body>
</html>
